flows/extract.yml
id: extract
namespace: kestra.weather

inputs:

  - id: time
    type: DATE
    after: 2024-01-01
    required: true
    
  - id: city
    type: ENUM
    values:
      - Berlin
      - Paris
      - "New York"

tasks:

  - id: geocoding
    type: io.kestra.plugin.core.http.Request
    uri: https://geocoding-api.open-meteo.com/v1/search?name={{inputs.city | urlencode}}&count=1&language=en&format=json

  - id: geo_output
    type: io.kestra.plugin.core.output.OutputValues
    values:
      latitude: '{{ json(outputs.geocoding.body).results[0].latitude ?? 52 }}'
      longitude: '{{ json(outputs.geocoding.body).results[0].longitude ?? 13 }}'

  - id: download_weather_data
    type: io.kestra.plugin.core.http.Download
    uri: https://archive-api.open-meteo.com/v1/archive?latitude={{ outputs.geo_output.values.latitude }}&longitude={{ outputs.geo_output.values.longitude }}&start_date={{inputs.time}}&end_date={{inputs.time}}&hourly=temperature_2m


  - id: normalize_data
    type: io.kestra.plugin.scripts.python.Script
    warningOnStdErr: false
    beforeCommands:
      - pip install pandas
    inputFiles:
      data.json: "{{ outputs.download_weather_data.uri }}"
    script: |
      import json
      import pandas as pd

      with open('data.json') as fopen:
        data = json.load(fopen)

      (
        pd.DataFrame(data.get("hourly"))
        .assign(
          latitude=data.get("latitude"), 
          longitude=data.get("longitude"),
          city="{{inputs.city}}"
        )
        .to_csv("result.csv", index=False)
      )
    outputFiles:
      - result.csv
      

